.div__post {
  margin-bottom: 1.5em;
}

.post__heading {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 0.65em;
}

.post__header {
  font-size: var(--size-header);
}

.post__header > a {
  color: black;
}

.post__header > a:visited {
  color: darkgray;
}

.post__meta {
  gap: 1em;
}

.post__body {
  margin-bottom: 0.65em;
}
