.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.nav__header > nav > ul {
    display: flex;

    list-style-type: none;
}

.nav__list-item a {
    text-decoration: none;
    color: darkgray;
}